{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="in-text">
        <h2>プレイリストの作成</h2>
        <p>
            JBSL-Web ではプレイリストの作成・共有を行うことができます。また、これはリーグを開催する際においても必要となります。
        </p>
        <ul>
            <li>プレイリスト一覧のページから右上の「プレイリストの作成」を押します。</li>
            <img src="{% static 'info/info_create_playlist.png' %}"
                 height="360px"
                 style="border-style:solid">
            <li>上のメニューでは、既存のプレイリストの情報をそのまま上げることができます。</li>
            <li>下のメニューでは、空のプレイリストを作ることができます。</li>
            <img src="{% static 'info/info_create_playlist2.png' %}"
                 height="480px"
                 style="border-style:solid">
            <li>プレイリストの作成者は、画面上でプレイリストの情報を変更することができます。</li>
            <li>
                リーグに使う予定のプレイリストは、リーグ終了時点で固定されます。（詳しくは「<a href="{% url 'app:info' pk=6 %}">リーグを開催しよう</a>」にて）
            </li>
            <img src="{% static 'info/info_create_playlist4.png' %}"
                 height="360px"
                 style="border-style:solid">
            <li>プレイリストを更新可能にしている場合、下のメニューから譜面の追加が行なえます</li>
            <img src="{% static 'info/info_create_playlist3.png' %}"
                 height="360px"
                 style="border-style:solid">
        </ul>
        <hr />
        <p>
            次：<a href="{% url 'app:info' pk=6 %}">リーグを開催しよう</a>
        </p>
    </div>
{% endblock %}
