{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="in-text">
    <h2>登録方法</h2>
    <p>
        プレイヤーの登録には以下のものが必要になります。
    </p>
    <ul>
        <li>Discord アカウント</li>
        <li>
            <b><u>日本の</b></u> ScoreSaber アカウント
        </li>
    </ul>
    <h4>
        登録の手順
    </h4>
    <ul>
        <li>右上の「ログイン（Discord）認証」ボタンを押して認証を進めてください。（仮登録）</li>
        <li>その後、ScoreSaber の ID を入力して本登録を済ませると、プレイヤーとしての登録が完了します。</li>
        <img src="{% static 'info/info_player.png' %}"
             height="360px"
             style="border: solid" />
        <li>上位 10 譜面のデータをもとに、HMD や有効 pp が登録されます。</li>
        <li>
            有効 pp はリーグに参加する時の条件に使います。（詳しくは次節「<a href="{% url 'app:info' pk=4 %}">リーグに参加しよう</a>」で）
        </li>
        <li>
            有効 pp の計算式は、現在、譜面ごとの pp を大きい順に並べた時に上位から 2,3,4 番目の譜面を合計した値となっています。（0.965 倍の逓減はかかりません）
        </li>
        <li>有効 pp の計算式は、大会運営の都合上変更される可能性があります。</li>
        <li>これらの値は ScoreSaber のスコアの更新がある度に連動して変更されます。</li>
    </ul>
    <hr />
    <p>
        次：<a href="{% url 'app:info' pk=4 %}">リーグに参加しよう</a>
    </p>
</div>
{% endblock content %}
