{% extends "base.html" %}
{% block content %}
    <div class="in-text">
        <h2>JBSLとは？</h2>
        <p>
            Japan Beat Saber League（JBSL）は、日本のプレイヤー同士でビートセイバーの総合的な実力を競い合う大会です
        </p>
        <li>ScoreSaberの 国籍が日本の方のみ参加可能です。</li>
        <li>ScoreSaberの pp を基にボーダーの基準を調整を行い、J1～J3までディビジョンの区分けを行います。</li>
        <li>調整の方法は大会毎に変わります。</li>
        <li>各ディビジョンで予選を行い上位が本戦出場となります。</li>
        <li>
            予選は <a href="{% url 'app:info' pk=2 %}">JBSL-Web</a> を用いて行われます。
        </li>
        <li>本戦はTwitchで全試合配信されます。</li>
        <li>ディビジョン本戦はエリミネーションによる勝ち抜き制で行います。</li>
        <h2>日程（予定）</h2>
        <p>
            次の大会は<span style="font-weight:bold">第6回 JBSL</span>になります。
        </p>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">(。-ω-)zzz. . . (。ﾟωﾟ) ﾊｯ!<br>【告知】お待たせしました！ 日本最大の非公式大会、Japan Beat Saber League 第 6 回の開催が決定しました！ 日本のプレイヤー同士で、リーグに分かれてBeat Saber の総合的な実力を競います。 開催は11月になりますのでお楽しみに！ <a href="https://t.co/uh8fiuY8cu">pic.twitter.com/uh8fiuY8cu</a></p>&mdash; JBSL_広報 (@115_jbsl) <a href="https://twitter.com/115_jbsl/status/1702940385419628789?ref_src=twsrc%5Etfw">September 16, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <li>※本戦の日程については、出場選手の都合に合わせて多少前後する可能性があります。</li>
        <h2>過去の大会の様子</h2>
        <p>
            <a href="{% url 'app:archive' %}">こちら</a>からアーカイブを見ることができます。
        </p>
        <hr>
        <p>
            次：<a href="{% url 'app:info' pk=2 %}">JBSL-Web とは？</a>
        </p>
    </div>
{% endblock content %}
