a {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
}

a:hover {
    color: white;
}

a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: saddlebrown;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .2s;
}

a:hover::after {
    transform: scale(1, 1);
}

.table {
    background: linear-gradient(to right, rgba(255, 160, 80, .7), rgba(255, 220, 200, .7));
    margin: 10px;
    border-radius: 10px;
    color: black;
    vertical-align: middle;
}

.back {
    background: url('bg.png');
    background-attachment: fixed;
    color: white
}

.navbar {
    background-color: #ff8628;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 10px 2px 2px rgba(0, 0, 0, .3);
    z-index: 999;
    display: flex;
}

.info-submit {
    border-radius: 5px;
    border-style: solid;
    border-color: #ff8628;
    padding: 20px;
}

.btn {
    border-radius: 10px;
    color: white;
    background-color: #ff8628;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
}

.danger {
    border-radius: 10px;
    padding: 8px;
    border-style: none;
    color: white;
    background-color: red;
}

.dl_link {
    background: #ff8628;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
}

.line {
    height: 5px;
    background-color: #ff8628;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .3);
    margin-right: 10px;
    margin-left: 10px;
}

.mid-thumb {
    height: 64px;
    width: 64px;
    border-radius: 5px;
    border: solid;
    border-color: black;
}

.song-index {
    position: fixed;
    width: auto;
    height: auto;
    right: 30px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}

.thumb {
    height: 128px;
    width: 128px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(30, 30, 30, 0.5);
    background-color: rgba(30, 30, 30, 1);
}

.diff {
    background: darkslategray;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.trans {
    text-decoration: none;
    color: black;
}

.trans:hover {
    text-decoration: none;
    color: black;
}

.top5-trigger {
    color: black;
}

.top5-target tr:nth-child(n+9) {
    display: none;
}

.top5-target.top5-open tr:nth-child(n+9) {
    display: table-row;
}

.border7-trigger {
    color: black;
}

.border7-target tr:nth-child(n+8) {
    display: none;
}

.border7-target.border7-open tr:nth-child(n+8) {
    display: table-row;
}

.border8-trigger {
    color: black;
}

.border8-target tr:nth-child(n+18) {
    display: none;
}

.border8-target.border8-open tr:nth-child(n+18) {
    display: table-row;
}

.tooltip-inner {
    max-width: 100%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.balloon {
    border-radius: 10px;
    background: rgba(255, 128, 60, .8);
    margin: 20px;
    padding-top: 20px;
    color: black
}