{% extends "base.html" %}
{% block content %}
<h3>JBSL Archive</h3>
<h4>JBSL1</h4>
<ul>
    <li>J1 <a>Twitch</a> <a>Challonge</a> (Winner : ejiejidayo)</li>
    <li>J2 <a>Twitch</a> <a>Challonge</a> (Winner : okazu)</li>
    <li>J3 <a>Twitch</a> <a>Challonge</a> (Winner : BIGSLICK)</li>
</ul>
<h4>JBSL2</h4>
<ul>
    <li>J1 <a href="https://www.twitch.tv/videos/1218286083" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : ejiejidayo)</li>
    <li>J2 <a href="https://www.twitch.tv/videos/1208500800" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : bluewingoo)</li>
    <li>J3 <a href="https://www.twitch.tv/videos/1204364605" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : kazimasa)</li>
</ul>
<h4>JBSL3</h4>
<ul>
    <li>J1 <a href="https://www.twitch.tv/videos/1489897188" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : Marsh_era)</li>
    <li>J2 <a herf="https://www.twitch.tv/videos/1478446293" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : noi)</li>
    <li>J3 <a href="https://www.twitch.tv/videos/1477504338" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : Ge2toro)</li>
</ul>
<h4>JBSL4</h4>
<ul>
    <li>J1 <a href="https://www.twitch.tv/videos/1663589678" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : Marsh_era)</li>
    <li>J2 <a href="https://www.twitch.tv/videos/1651634508" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : distort)</li>
    <li>J3 <a href="https://www.twitch.tv/videos/1650640610" style="color:#ff8628">Twitch</a> <a>Challonge</a> (Winner : Natu)</li>
</ul>
{% endblock content %}