{% extends "base.html" %}
{% block content %}
<h3>JBSL Archive</h3>
<h4>JBSL1</h4>
<ul>
    <li>J1 <a herf="https://www.twitch.tv/videos/1023315457">Twitch</a> <a href="https://challonge.com/ja/l1eztji0">Challonge</a> (Winner : ejiejidayo)</li>
    <li>J2 <a href="https://www.twitch.tv/videos/1023318548">Twitch</a> <a href="https://challonge.com/ja/4wjcfeqm">Challonge</a> (Winner : okazu)</li>
    <li>J3 <a herf="https://www.twitch.tv/videos/1023345737">Twitch</a> <a href="https://challonge.com/ja/dmjyr09e">Challonge</a> (Winner : BIGSLICK)</li>
</ul>
<h4>JBSL2</h4>
<ul>
    <li>J1 <a href="https://www.twitch.tv/videos/1218286083" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/lijm0sg7">Challonge</a> (Winner : ejiejidayo)</li>
    <li>J2 <a href="https://www.twitch.tv/videos/1208500800" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/zwkhkn7p">Challonge</a> (Winner : bluewingoo)</li>
    <li>J3 <a href="https://www.twitch.tv/videos/1204364605" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/fxc06khx">Challonge</a> (Winner : kazimasa)</li>
</ul>
<h4>JBSL3</h4>
<ul>
    <li>J1 <a href="https://www.twitch.tv/videos/1489897188" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/45b5kjef">Challonge</a> (Winner : Marsh_era)</li>
    <li>J2 <a herf="https://www.twitch.tv/videos/1478446293" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/512e7zcr">Challonge</a> (Winner : noi)</li>
    <li>J3 <a href="https://www.twitch.tv/videos/1477504338" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/ri88bhif">Challonge</a> (Winner : Ge2toro)</li>
</ul>
<h4>JBSL4</h4>
<ul>
    <li>J1 <a href="https://www.twitch.tv/videos/1663589678" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/jvtq1le0">Challonge</a> (Winner : Marsh_era)</li>
    <li>J2 <a href="https://www.twitch.tv/videos/1651634508" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/9dcst9pe">Challonge</a> (Winner : distort)</li>
    <li>J3 <a href="https://www.twitch.tv/videos/1650640610" style="color:#ff8628">Twitch</a> <a href="https://challonge.com/ja/6p21gsaj">Challonge</a> (Winner : Natu)</li>
</ul>
{% endblock content %}