{% extends "base.html" %}
{% block content %}
    {% for player in active_players %}
        <ul>
            <li>
                {{ player }} (discord : {{player.user}})
                {% if player.rival != None %} (rival : {{ player.rival }}){% endif %}
                <ul>
                    {% for league in player.league.all %}<li>{{ league }}</li>{% endfor %}
                </ul>
                {% if player.virtual.all|length > 0 %}
                    virtual
                    <ul>
                        {% for league in player.virtual.all %}<li>{{ league }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endblock content %}
