{% extends "base.html" %}
{% block content %}
    <h4>All Headlines</h4>
    {% for headline in headlines %}
        <ul>
            <li>
                {% if headline.player != None %}
                    <a href="{% url 'app:userpage' sid=headline.player.sid %}">
                        <img src="{{ headline.player.imageURL }}" class="icon"/>
                    </a>
                {% endif %}
                {{ headline.text }} （{{ headline.time }}）
            </li>
        </ul>
    {% endfor %}
    <div style="margin:20px">
        <div style="display:flex">
            <form action="{% url 'app:headlines' page|add:-1 %}">
                <button class="btn"
                        style="margin-right:40px"
                        {% if page == 1 %}disabled{% endif %}>New</button>
            </form>
            <span style="margin-right:40px">Page {{ page }}</span>
            <form action="{% url 'app:headlines' page|add:1 %}">
                <button class="btn"
                        style="margin-right:40px"
                        {% if page == limit %}disabled{% endif %}>Old</button>
            </form>
        </div>
    </div>
{% endblock content %}
