{% extends "base.html" %}
{% block content %}
    <h4>All Headlines</h4>
    {% for headline in headlines %}
        <ul>
            {% include 'headline_object.html' %}
        </ul>
    {% endfor %}
    <div style="margin:20px">
        <div style="display:flex">
            <form action="{% url 'app:headlines' page|add:-1 %}">
                <button class="btn"
                        style="margin-right:40px"
                        {% if page == 1 %}disabled{% endif %}>New</button>
            </form>
            <span style="margin-right:40px">Page {{ page }}</span>
            <form action="{% url 'app:headlines' page|add:1 %}">
                <button class="btn"
                        style="margin-right:40px"
                        {% if page == limit %}disabled{% endif %}>Old</button>
            </form>
        </div>
    </div>
{% endblock content %}
