{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if user.player.isActivated and not user.player.inDiscord %}
        <div style="text-align:center">
            <h3>! Discord サーバー参加へのお願い !</h3>
            <p>
                あなたはまだ JBSL の Discord サーバーに参加していません。
            </p>
            <p>
                以下のリンクから参加お願いします。
            </p>
            <p>
                <span class="dl_link"><a href="https://discord.gg/CqQ6ZD8KRn">参加</a></span>
            </p>
        </div>
    {% endif %}
    {% for league in invitations %}
        <div style="text-align:center">
            <h3>
                ! リーグ <a href="{% url 'app:leaderboard' pk=league.pk %}"
    style="color:{{ league.color }}">{{ league }}</a> から招待が届いています !
                <form method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit" name="join" value="{{ league.pk }}">参加</button>
                    <button class="btn"
                            style="background-color:red"
                            type="submit"
                            name="decline"
                            value="{{ league.pk }}">拒否</button>
                </form>
            </h3>
        </div>
    {% endfor %}
    <div style="text-align:center">
        <h3>Welcome to JBSL-Web!</h3>
        {% if not user.is_authenticated %}
            <h3>
                <a href="{% url 'app:info' pk=1 %}" style="color:ff8628">JBSL とは？</a>
            </h3>
        {% endif %}
    </div>
    <div style="text-align:center">
        <h3>JBSL5が始まるよ！特設Q&A！</h3>
        <details>
            <summary>
                クリックしてQ&Aを開閉
            </summary>
            <div style="text-align:left">
                <div class="indent">
                    <h4>Q、スケジュールは？</h4>
                    <p>
                        <ul>
                            <li>J4 予選 4/8～4/16 本戦 4/22</li>
                            <li>J3 予選 4/8～4/16 本戦 4/22</li>
                            <li>J2 予選 4/8～4/16 本戦 4/23</li>
                            <li>J1 予選 4/8～4/16 レイドバトル 4/23</li>
                            <li>※本戦の日程については、出場選手の都合に合わせて多少前後する可能性があります。</li>
                        </ul>
                    </p>
                    <h4>Q、どうやって登録するの？</h4>
                    <p>
                        プレイヤー登録をした後で、予選のリーグが開始された<a href="{% url 'app:info' pk=4 %}">リーグ参加</a>を押してね！
                    </p>
                    <h4>Q、J1 J2 J3 J4 の区分けの基準は？</h4>
                    <p>
                        予選開始の直前まで決められないよ！　ごめんね
                    </p>
                    <h4>Q、予選の方式は？</h4>
                    <p>
                        いつも通り、<a href="{% url 'app:info' pk=4 %}">有効順位点方式</a>だよ！
                    </p>
                    <p>
                        ただ、前回と違って、J2 J3 J4 は上位4名が進出。J1 は4ジャンルで予選を行って、上位1名進出だから気をつけてね！
                    </p>
                    <h4>Q、レイドバトルって？</h4>
                    <p>
                        各ジャンルを勝ち上がった4名+ゲストで5人のチームを作って前回王者に挑むよ。詳しくは<a href="https://twitter.com/115_jbsl/status/1627188042216902657">このツイート</a>を見てね！
                    </p>
                    <h4>Q、システム上、自分より上位のリーグに参加可能だが</h4>
                    <p>
                        本戦に進める可能性は小さくなるかもしれないけど、その挑戦を否定はしないよ！
                    </p>
                    <p>
                        自分の得意分野に絶対の自身があるなら、レイドバトル戦士を目指すのもあり……かも？
                    </p>
                    <h4>Q、マッパーの応募は？</h4>
                    <p>
                        第5回JBSLのマッパー募集は終了しました。たくさんのご応募、ありがとうございました！
                    </p>
                </div>
            </div>
        </div>
    </details>
    <h3>Headlines</h3>
    {% for headline in headlines %}
        <ul>
            {% include 'headline_object.html' %}
        </ul>
    {% endfor %}
    <p>
        <form action="{% url 'app:headlines' page=1 %}">
            <button class="btn">All Headlines</button>
        </form>
    </p>
    {% include "live_leagues.html" with leagues=active_leagues %}
{% endblock %}
