{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if user.player.isActivated and not user.player.inDiscord %}
        <div style="text-align:center">
            <h3>! Discord サーバー参加へのお願い !</h3>
            <p>
                あなたはまだ JBSL の Discord サーバーに参加していません。
            </p>
            <p>
                以下のリンクから参加お願いします。
            </p>
            <p>
                <span class="dl_link"><a href="https://discord.gg/CqQ6ZD8KRn">参加</a></span>
            </p>
        </div>
    {% endif %}
    {% for league in invitations %}
        <div style="text-align:center">
            <h3>
                ! リーグ <span style="color:{{ league.color }}">{{ league }}</span> から招待が届いています !
                <form method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit" name="join" value="{{ league.pk }}">参加</button>
                    <button class="danger"
                            style="transform:scale(0.7);"
                            type="submit"
                            name="decline"
                            value="{{ league.pk }}">拒否</button>
                </form>
            </h3>
        </div>
    {% endfor %}
    {% if not user.is_authenticated %}
        <h3>参加方法</h3>
        <ul>
            <li>右上の「Discord 認証」から仮登録を完了してください。</li>
            <li>登録には Discord のアカウントが必要となります。</li>
            <li>
                Discord 認証時、<u>最初の 1 回はエラーが出るようです。</u>（原因不明です。すいません）
            </li>
            <li>その場合、ブラウザの「戻る」ボタンを使ってリトライお願いします。</li>
            <li>仮登録後、ScoreSaber のIDを設定することにより、本登録となります。</li>
            <li>
                登録できるのは<u>日本人プレイヤーのみ</u>となります。Sorry, only Japanese players can be registered.
            </li>
        </ul>
    {% endif %}
    <h3>J3 本戦結果</h3>
    <div style="text-align:center">
    <iframe src="https://challonge.com/ja/ri88bhif/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    <p>🏅<span style="color:gold">優勝</span> : Ge2Toro さん</p>
    <p>🥈2位 : Lumi_Astraea さん</p>
    <p>🥉<span stlye="color:brown">3位</span> : FFF(エフ3)th さん</p>
    <p>おめでとうございます！</p>
    </div>
    <h3>Headlines</h3>
    {% for headline in headlines %}
        <ul>
            <li>
                {% if headline.player != None %}
                    <a href="{% url 'app:userpage' sid=headline.player.sid %}">
                        <img src="{{ headline.player.imageURL }}" class="icon" />
                    </a> {{ headline.text }} （{{ headline.time }}）
                {% else %}
                    {{ headline.text }}
                {% endif %}
            </li>
        </ul>
    {% endfor %}
    <p>
        <a href="{% url 'app:headlines' page=1 %}">...More Headlines</a>
    </p>
    <h3>Live Leagues</h3>
    <table class="table table-striped table-borderless"
           style="background-color:gray">
        <thead>
            <th>Cover</th>
            <th>Title</th>
            <th>Description</th>
            <th>Limit</th>
            <th>Owner</th>
            <th>End</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
        </thead>
        {% for league in active_leagues %}
            <tr style="background-color:{{ league.color }}">
                <td>
                    <a href={% url 'app:leaderboard' pk=league.pk %}>
                        <img class="thumb" src=" {{ league.playlist.image }}" />
                    </a>
                </td>
                <td>{{ league.name }}</td>
                <td>{{ league.description|truncatechars:50 }}</td>
                <td>
                    {% if league.isPublic %}
                        {% if league.limit == 2000 %}
                            上限なし
                        {% else %}
                            {{ league.limit }}
                        {% endif %}
                    {% else %}
                        Private
                    {% endif %}
                </td>
                <td>
                    <a href
                       {% url 'app:userpage' sid=league.owner.sid %}
                       style="color:black">{{ league.owner.name }}</a>
                </td>
                <td>{{ league.end }}</td>
                <td>
                    {% if league.first != None %}
                        <a href="{% url 'app:userpage' sid=league.first.sid %}"
                           style="color:black">
                            {% with league.first as player %}
                                <img class="icon" src={{ player.imageURL }}>
                                <br>
                                {% if player.isSupporter %}
                                    <span style="color:{{ player.userColor }}; font-weight:bold; {% if player.isShadow %}filter: drop-shadow(0 0 3px {{ player.bgColor }});{% endif %} ">{{ player.name }}</span>
                                {% else %}
                                    {{ player.name }}
                                {% endif %}
                            {% endwith %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if league.second != None %}
                        <a href="{% url 'app:userpage' sid=league.second.sid %}"
                           style="color:black">
                            {% with league.second as player %}
                                <img class="icon" src={{ player.imageURL }}>
                                <br>
                                {% if player.isSupporter %}
                                    <span style="color:{{ player.userColor }}; font-weight:bold; {% if player.isShadow %}filter: drop-shadow(0 0 3px {{ player.bgColor }});{% endif %} ">{{ player.name }}</span>
                                {% else %}
                                    {{ player.name }}
                                {% endif %}
                            {% endwith %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if league.third != None %}
                        <a href="{% url 'app:userpage' sid=league.third.sid %}"
                           style="color:black">
                            {% with league.third as player %}
                                <img class="icon" src={{ player.imageURL }}>
                                <br>
                                {% if player.isSupporter %}
                                    <span style="color:{{ player.userColor }}; font-weight:bold; {% if player.isShadow %}filter: drop-shadow(0 0 3px {{ player.bgColor }});{% endif %} ">{{ player.name }}</span>
                                {% else %}
                                    {{ player.name }}
                                {% endif %}
                            {% endwith %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h3>
        JBSL3 開催中特別企画～気になるライバル関係～
    </h3>
    <p>
        両想い（お互いライバル関係）は <span style="font-size:30px">{{ love_pair }}</span> 組いるようです。
    </p>
    <p>
        最もライバル視されている人は
    </p>
    <ul>
        {% for player in love_sort %}
            <li>
                <img class="icon" src={{ player.imageURL }}>{{ player }} さん
            </li>
        {% endfor %}
    </ul>
    <p>
        {{ love_max }} 人から熱い視線を向けられている……
    </p>
{% endblock %}
