{% extends "base.html" %}
{% block content %}
    {% load static %}
    <h3>特設 Q & A 詳細バージョン</h3>
    <h4>Q、予選はいつ始まるの？</h4>
    <p style="margin:20px">
        J2,J3 はもう始まってるよ！
        <br>
        J1 予選は次の土曜日からだね！
        <br>
    </p>
    <h4>Q、予選はいつ終わるの？</h4>
    <p style="margin:20px">
        J2,J3 予選ともに 10/30（日）23:59 だよ！
        <br>
        二つの土日にまるまる挟まれる形だね。
        <br>
        もちろん、J1 予選が終わるのはその次の日曜日だよ！
    </p>
    <h4>Q、どうやって登録するの？</h4>
    <p style="margin:20px">
        <a href="{% url 'app:info' pk=3 %}" style="color:ff8628">プレイヤー登録</a>をした後で、リーグ開始後に<a href="{% url 'app:info' pk=4 %}" style="color:ff8628">リーグ参加</a>をしてね！
    </p>
    <h4>Q、J1,J2,J3の区分けは？</h4>
    <p style="margin:20px">
        <a href="{% url 'app:info' pk=3 %}" style="color:ff8628">有効 PP</a>を基準にするよ！
        <br>
        J3 に参加できるのは有効 pp が 800 以下の人、
        <br>
        J2 に参加できるのは有効 pp が 1,050 以下の人だよ！
    </p>
    <h4>Q、予選の方式は前回と同じ？</h4>
    <p style="margin:20px">
        順位点の計算は前回と同じだよ！　詳しくは<a href="{% url 'app:info' pk=4 %}" style="color:ff8628">リーグに参加しよう</a>まで。
    </p>
    <h4>Q、システム上、自分より上位のリーグに参加することが可能だが</h4>
    <p style="margin:20px">
        上位に食い込める可能性は少ないかもしれないけど、その挑戦を止めはしないよ！
    </p>
    <h4>Q、システム上、複数のリーグに参加することが可能だが</h4>
    <p style="margin:20px">
        上位に食い込める可能性は少ないかもしれないし、<u>無駄にシステムに負荷がかかるからやめてね</u>！
    </p>
    <h4>Q、どうやったらスコアを送信できる？</h4>
    <p style="margin:20px">
        まず、リーグのページから「プレイリストDL」を押してね！
        <br>
        ゲーム上でプレイリストを開くと、対象の難易度が緑色でハイライト表示されてると思うから、それが課題譜面（正確に言うと課題難易度）だよ！
        <br>
        プレイすると普通にスコアセイバーに記録が乗ると思うけど、JBSL-Web ではスコアセイバーの記録を定期的にチェックすることにより更新を行ってるんだ。
        <br>
        この部分、スコアセイバー → JBSL-Web、という流れですこしラグがあるんだ。
        <br>
        即時反映されなくてもどかしいけど、最大 10 分ぐらいだから我慢してね！
    </p>
    <h4>Q、「有効譜面」「有効順位点」とは？</h4>
    <p style="margin:20px">
        リーグの有効譜面数が課題譜面の数よりも多い場合、すべての譜面を詰める必要はないよ！
        <br>
        有効譜面数の分だけ、課題譜面で取得した順位点の上位が合計されて、これを「有効順位点」というよ。
        <br>
        例えば、課題譜面が 7 個で有効譜面数が 5 個の場合、スコアに反映されるのは上位 5 譜面だけなんだ。
        <br>
        だから、<u>自分の苦手な譜面がある場合、有効順位点に計上されない範囲ならスルーしても何もデメリットもない</u>よ！
    </p>
    <h4>Q、本戦の予定は？</h4>
    <p style="margin:20px">
        <a href="{% url 'app:info' pk=1 %}" style="color:ff8628">ここ</a>を参照してね！
    </p>
    <h4>Q、本戦の都合がつかないかもしれないが、予選に参加して大丈夫か？</h4>
    <p style="margin:20px">
        なるべく出場選手間で調整をするから、完全に予定と同じ時間を空けておく必要はないよ！
        <br>
        最悪、金曜日に前半戦を行ったり、月曜日に後半戦を行ったり、という調整も考えてはいるよ。
        <br>
        ただ、<u>土日が全部埋まっている</u>とかだとさすがに遠慮して欲しいかな。
    </p>
    <h4>Q、Twitchのアカウントはないが本戦には出場したい</h4>
    <p style="margin:20px">
        作って！
        <br>
        予選上位者が Twitch アカウントを設定してない場合、運営から確認が入るし、用意できないならリーグ脱退してもらうこともありえるよ！
    </p>
    <h4>Q、Twitchのアカウントは用意したが、本戦に必要な準備は</h4>
    <p style="margin:20px">
        大会でスコアを比較するのにオーバーレイが必要なんだ。
        <br>
        <a href="https://github.com/rynan4818/tournament_overlay" style="color:ff8628">ここ</a> でダウンロードできるから、各自導入お願いします。
        <br>
        配信レイアウトに特に制限はないけど（アバター表示も自由！）、<u>ノーツとセイバーを含むゲーム画面が見える</u>のは絶対条件だよ！
    </p>
    <h4>Q、本戦に出場するつもりはないが予選には参加したい</h4>
    <p style="margin:20px">
        <a href="{% url 'app:info' pk=4 %}" style="color:ff8628">バーチャル参加</a>で我慢してね！
        <br>
        実際に参加するのも自由だけど、順位争いが本格するまでには脱退して欲しいかな。
        <br>
        ルールで定められている<a href="{% url 'app:info' pk=4 %}" style="color:ff8628">48 時間前</a>までには脱退してね！
    </p>
    <h4>Q、期限直前まで参加を伏せたいが、大丈夫か</h4>
    <p style="margin:20px">
        大丈夫だけど、終了48時間前を過ぎると参加できなくなる点には注意してね！
    </p>
    <h4>Q、期限直前までスコアを伏せたいが、大丈夫か</h4>
    <p style="margin:20px">
        大丈夫だけど、自動集計から漏れたスコアは原則的に認められないから注意してね！
        <br>
        <u>例え ScoreSaber に記録が残っていても</u>ダメだよ。
        <br>
        10 分に 1 回は更新が入る仕様だけど、期限 1 時間前には余裕を持ってスコアを送信しておくことをオススメするよ！
    </p>
{% endblock %}
