{% extends "base.html" %}
{% block content %}
{% load static %}
    <h2>JBSL-Webとは？</h2>
    <div style="padding:20px">
        <p>
            あなたが今見ている、この Web サイトです！
        </p>
        <li>JBSL の予選のために作られたシステムです。</li>
        <li>JBSL の予選に限らず、誰もがオリジナルのミニ大会を自由に企画できます。</li>
        <li>このミニ大会（課題譜面を定めて、期限を定めてベストスコアを競うこと）を、このシステムでは<a href="{% url 'app:leagues' %}" style="color:ff8628">リーグ</a>と読んでいます。</li>
        <li>この Web サイトでは、<a href="{% url 'app:info3' %}" style="color:ff8628">プレイヤー登録</a>をすることにより、リーグに参加したり、リーグを開催したり、プレイリストを共有したりすることができます。</li>
    </div>
{% endblock %}
