{% extends "base.html" %}
{% block content %}
    <h2>JBSLとは？</h2>
    <div style="padding:20px">
        <p>
            Japan Beat Saber League（JBSL）は、日本のプレイヤー同士でビートセイバーの総合的な実力を競い合う大会です
        </p>
        <li>ScoreSaberの 国籍が日本の方のみ参加可能です。</li>
        <li>ScoreSaberの pp を基にボーダーの基準を調整を行い、J1～J3までリーグの区分けを行います。</li>
        <li>調整の方法は大会毎に変わります。</li>
        <li>各リーグで予選を行い上位が本戦出場となります。</li>
        <li>本戦はTwitchで全試合配信されます。</li>
        <li>リーグ本戦はエリミネーションによる勝ち抜き制で行います。</li>
    </div>
    <h2>日程（予定）</h2>
    <div style="padding:20px">
        <p>
            次の大会は<span style="font-weight:bold">第4回 JBSL</span>になります。
        </p>
        <li>J3 予選 10/22～10/30 本戦 11/12</li>
        <li>J2 予選 10/22～10/30 本戦 11/13</li>
        <li>J1 予選 10/29～11/6 本戦 11/19,26</li>
        <li>※本戦の日程については、出場選手の都合に合わせて多少前後する可能性があります。</li>
    </div>
    <div style="padding:20px">
        <h2>過去の大会の様子</h2>
        <p><a href="https://www.twitch.tv/jbsl115/videos" style="color:#ff8628">こちら</a>からアーカイブを見ることができます。</p>
    </div>
{% endblock %}
