{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div style="position:fixed;width:auto;height:auto;right:30px;bottom:30px;background-color:rgba(255,255,255,0.7);border-radius:10px;text-align:center;padding:10px">
        <p>
            <a class="trans" href="#top" style="color:black">▲</a>
        </p>
        <p>
            <a class="trans" href="#{{ league.name }}" style="color:black">{{ league.name }}</a>
        </p>
        {% for LB in LBs %}
            <p>
                <a class="trans" href="#{{ LB.song.lid }}" style="color:black">{{ LB.song.title | truncatechars:15 }}</a>
            </p>
        {% endfor %}
    </div>
    <div style="text-align:center">
        <h2>{{ league.name }}'s Leaderboard</h2>
        {% if not isMember %}
            <form method="post">
                {% csrf_token %}
                <button class="btn" name="join" type="submit" value="{{ user.player.sid }}">参加</button>
            </form>
        {% endif %}
    </div>
    <div style="text-align:right">
        <p>
            集計終了日時は {{ league.end }} です。
        </p>
    </div>
    <div id="{{ league.name }}"
         class="border8-target"
         style="padding:50px;border-radius:20px">
        <table class="table table-striped table-borderless"
               style="background-color:{{ league.color }}">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>
                        有効
                        <br>
                        順位点
                    </th>
                    <th>
                        有効
                        <br>
                        譜面
                    </th>
                    <th>
                        有効
                        <br>
                        精度
                    </th>
                    <th>Message</th>
                </tr>
            </thead>
            {% for s in scored_rank %}
                <tr>
                    <td width="50px">
                        {% if s.abstein or s.acc == 0 %}
                            --
                        {% else %}
                            #{{ s.rank }}
                        {% endif %}
                    </td>
                    <td width="250px">
                        <img src="{{ s.player.imageURL }}" class="icon">
                        {{ s.player.name }}
                        {% if s.player.abstein %}（棄権）{% endif %}
                    </td>
                    <td width="70px">
                        <span {% if s.count_maps %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title=" {% for c in s.count_maps %} {{ c.map.title | truncatechars:20 }} ({{ c.pos }})
                            <br>
                        {% endfor %}
                        "
                    {% endif %}
                    >
                    {{ s.pos }}
                </span>
            </td>
            <td width="70px">
                <span {% if s.count_maps %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title=" {% for c in s.count_maps %} {{ c.map.title | truncatechars:25 }}
                    <br>
                {% endfor %}
                "
            {% endif %}
            >
            {{ s.valid }}
        </span>
    </td>
    <td width="70px">
        <span {% if s.count_maps %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title=" {% for c in s.count_maps %} {{ c.map.title | truncatechars:15 }} ({{ c.acc | floatformat:2 }})
            <br>
        {% endfor %}
        "
    {% endif %}
    >
    {{ s.acc|floatformat:2 }}
</span>
</td>
<td>{{ s.player.message }}</td>
</tr>
{% if s.rank == 8 %}
    <tr>
        <td colspan="6">
            <hr>
        </td>
    </tr>
{% endif %}
{% endfor %}
</tbody>
</table>
<a class = "border8-trigger" href="#{{ league }}">すべて表示</a>
</div>
<hr>
<h2 style="text-align:center">譜面別リーグ内順位</h2>
{% for LB in LBs %}
    <p>
        <span style="font-size:22px;font-weight:bold">{{ LB.song.title }} <span style="color:{{ LB.song.color }}">{{ LB.song.diff }}</span></span> by {{ LB.song.author }}
    </p>
    <div id="{{ LB.song.lid }}"
         class="top5-target"
         style="background-color:{{ Linfo.bgcolor }};
                padding:30px;
                border-radius:20px;">
        <div style="display:flex">
            <img src="{{ LB.song.imageURL }}" class="thumb">
            <table class="table table-striped table-borderless"
                   style="margin-left;background-color:{{ league.color }}">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>順位点</th>
                        <th>精度</th>
                    </tr>
                </thead>
                <tbody style="color:black">
                    {% for p in LB.players %}
                        <tr>
                            <td width="50px">
                                {% if p.abstein or p.acc == 0 %}
                                    --
                                {% else %}
                                    #{{ p.rank }}
                                {% endif %}
                            </td>
                            <td width="250px">
                                <img src="{{ p.player.imageURL }}" class="icon">
                                {{ p.player.name }}
                                {% if p.player.abstein %}（棄権）{% endif %}
                            </td>
                            <td width="70px">{{ p.pos }}</td>
                            <td>{{ p.acc|floatformat:2 }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if scored_rank|length > 5 %}
            <a class="top5-trigger"
               href="#{{ LB.song.lid }}"
               style="margin-left:158px">すべて表示</a>
        {% endif %}
    </div>
{% endfor %}
<div style="text-align:center">
    {% if isMember %}
        <p>
            <form method="post">
                {% csrf_token %}
                <button class="danger" name="disjoin" type="submit" value="{{ user.player.sid }}">脱退</button>
            </form>
        </p>
    {% endif %}
</div>
{% endblock content %}
