{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="song-index">
        <p>
            <a class="trans" href="#top">▲</a>
        </p>
        <p>
            <a class="trans" href="#{{ league.id }}">{{ league.name }}</a>
        </p>
        {% for LB in LBs %}
            <p>
                <a class="trans" href="#{{ LB.song.lid }}">{{ LB.song.title | truncatechars:15 }}</a>
            </p>
        {% endfor %}
    </div>
    <div style="text-align:center">
        <h3>{{ league.name }}'s Leaderboard 
            <a href="{% url 'app:download_playlist' pk=league.playlist.pk %}"
               download="{{ league.playlist.title }}.json">
                <span class="dl_link">プレイリスト</span>
            </a></h3>
        {% if not isMember and user.player.isActivated and league.isPublic %}
            {% if user.player.borderPP <= league.limit %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn" name="join" type="submit" value="{{ user.player.sid }}">参加</button>
                </form>
            {% else %}
                <p>
                    あなたが実力が高すぎるためこのリーグには参加できません……
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div style="text-align:right">
        <p>
            集計終了日時は {{ league.end }} です。
        </p>
    </div>
    {% if isOwner %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <div class="info-submit">
            <form method="post">
                {% csrf_token %}
                <h3>リーグ情報の変更</h3>
                <p>
                    <label>Title :</label>
                    <input type="text" size="50px" name="title" value="{{ league.name }}" />
                </p>
                <p>
                    <p>
                        <label>Description :</label>
                        {{league.description}}
                    </p>
                    <input type="textarea" style="width:400px;height:100px" name="description">
                </p>
                <p>
                    <label>終了日時 :</label>
                    <input type="datetime-local" name="end" value="{{ end_str }}">
                </p>
                <p>
                    <label>有効譜面数 :</label>
                    <input type="range"
                           min="0"
                           max="20"
                           value="{{ league.method }}"
                           style="width:200px"
                           name="valid">
                    <span class="indicate-valid">{{ league.method }}</span>
                </p>
                <p>
                    <label>borderPPの上限 :</label>
                    <input type="range"
                           min="0"
                           max="2000"
                           value="{{ league.limit }}"
                           style="width:300px"
                           name="limit">
                    <span class="indicate-limit">{{ league.limit }}</span>
                </p>
                <p>
                    <button class="btn" type="submit">変更</button>
                </p>
            </form>
        </div>
        <script>
        $("input[name='valid']").on("input", function (e) {
            var range = e.target
            $(".indicate-valid").text(range.value)
        })
        </script>
        <script>
        $("input[name='limit']").on("input", function (e) {
            var range = e.target
            $(".indicate-limit").text(range.value)
        })
        </script>
    {% endif %}
    <div id="{{ league.id }}"
         class="border8-target"
         style="padding:50px;border-radius:20px">
        <table class="table table-striped table-borderless"
               style="background-color:{{ league.color }}">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>
                        有効
                        <br>
                        順位点
                    </th>
                    <th>
                        有効
                        <br>
                        譜面
                    </th>
                    <th>
                        有効
                        <br>
                        精度
                    </th>
                    <th>Message</th>
                </tr>
            </thead>
            {% for s in scored_rank %}
                <tr>
                    <td width="50px">#{{ s.rank }}</td>
                    <td width="250px">
                        <img src="{{ s.player.imageURL }}" class="icon">
                        {{ s.player.name }}
                    </td>
                    <td width="70px">
                        <span {% if s.count_maps %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title=" {% for c in s.count_maps %} {{ c.score.song.title | truncatechars:20 }} ({{ c.pos }})
                            <br>
                        {% endfor %}
                        "
                    {% endif %}
                    >
                    {{ s.pos }}
                </span>
            </td>
            <td width="70px">
                <span {% if s.count_maps %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title=" {% for c in s.count_maps %} {{ c.score.song.title | truncatechars:25 }}
                    <br>
                {% endfor %}
                "
            {% endif %}
            >
            {{ s.valid }}
        </span>
    </td>
    <td width="70px">
        <span {% if s.count_maps %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title=" {% for c in s.count_maps %} {{ c.score.song.title | truncatechars:15 }} ({{ c.score.acc | floatformat:2 }})
            <br>
        {% endfor %}
        "
    {% endif %}
    >
    {{ s.acc|floatformat:2 }}
</span>
</td>
<td>{{ s.player.message }}</td>
</tr>
{% if s.rank == 8 %}
    <tr>
        <td colspan="6">
            <hr>
        </td>
    </tr>
{% endif %}
{% endfor %}
</tbody>
</table>
<a class = "border8-trigger" href="#{{ league }}">すべて表示</a>
</div>
<hr>
<h2 style="text-align:center">譜面別リーグ内順位</h2>
{% for LB in LBs %}
    <p>
        <span style="font-size:22px;font-weight:bold">{{ LB.song.title }} <span style="color:{{ LB.song.color }}">{{ LB.song.diff }}</span></span> by {{ LB.song.author }}
        <a href="https://scoresaber.com/leaderboard/{{ LB.song.lid }}"
           style="filter:invert()">
            <img src={% static 'ScoreSaberLogo.png' %} width="30px" height="30px">
        </a>
        <a href="https://beatsaver.com/maps/{{ LB.song.bsr }}"></a>
    </p>
    <div id="{{ LB.song.lid }}"
         class="top5-target"
         style="background-color:{{ Linfo.bgcolor }};
                padding:30px;
                border-radius:20px;">
        <div style="display:flex">
            <img src="{{ LB.song.imageURL }}" class="thumb">
            <table class="table table-striped table-borderless"
                   style="margin-left;background-color:{{ league.color }}">
                <thead>
                    <tr>
                        <th>
                            Rank
                        </th>
                        <th>
                            Player
                        </th>
                        <th>
                            順位点
                        </th>
                        <th>
                            Accuracy
                        </th>
                        <th>
                            Miss
                        </th>
                    </tr>
                </thead>
                <tbody style="color:black">
                    {% for score in LB.scores %}
                        <tr>
                            <td width="50px">
                                #{{ score.rank }}
                            </td>
                            <td width="250px">
                                <img src="{{ score.score.player.imageURL }}" class="icon">
                                {{ score.score.player.name }}
                            </td>
                            <td width="70px">
                                {{ score.pos }}
                            </td>
                            <td width="100px">
                                {{ score.score.acc|floatformat:2 }}%
                            </td>
                            <td>
                                {% if score.score.miss == 0 %}
                                    <span class="diff" style="color:white">FC</span>
                                {% else %}
                                    {{ score.score.miss }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if scored_rank|length > 5 %}
            <a class="top5-trigger"
               href="#{{ LB.song.lid }}"
               style="margin-left:158px">すべて表示</a>
        {% endif %}
    </div>
{% endfor %}
{% if isOwner %}
    <form method="post">
        {% csrf_token %}
        <select multiple size="{{ not_invite_players|length }}" name="invite">
            {% for player in not_invite_players %}
                <option value={{ player.sid }}>{{ player }} :  {{ player.pp }} pp ({{ player.borderPP|floatformat:2 }} pp)
                </option>
            {% endfor %}
        </select>
        <button class="btn" type="submit">
            招待
        </button>
    </form>
{% endif %}
<div style="text-align:center">
    {% if isMember %}
        <p>
            <form method="post">
                {% csrf_token %}
                <button class="danger"
                        name="disjoin"
                        type="submit"
                        value="{{ user.player.sid }}">
                    脱退
                </button>
            </form>
        </p>
    {% endif %}
</div>
{% endblock content %}
