{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="song-index">
        <p>
            <a class="trans" href="#top">▲</a>
        </p>
        <p>
            <a class="trans" href="#ranking">{{ league.name }}</a>
        </p>
        {% for song in LBs %}
            <p>
                <a class="trans" href="#{{ song.lid }}">{{ song.title | truncatechars:15 }}</a>
            </p>
        {% endfor %}
    </div>
    <div class="countdown-timer">
        {% if league.isLive %}
            終了時刻　{{ league.end }}
            <br>
            終了まで　<span class="countdown" data-date="{{ end_str }}"></span>
            {% if league.isOfficial and not isClose %}
                （参加／脱退の締切まで　<span class="countdown" data-date="{{ close_str }}"></span>）
            {% endif %}
        {% else %}
            本リーグは終了しました。
        {% endif %}
    </div>
    <div style="text-align:center">
        <h3>
            <span style="color:{{ league.color }}">{{ league.name }}</span>'s Leaderboard
            {% if edit_state %}
                <a href="{% url 'app:league_edit' pk=league.pk %}">
                    <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="
                        <h4>
                            リーグ情報の編集
                            <br>
                            プレイヤーの招待
                        </h4>
                        ">
                        <img src="{% static 'pencil.png' %}"
                             height="40px"
                             width="40px"
                             style="filter:invert();margin-left:20px">
                    </span>
                </a>
            {% endif %}
        </h3>
        <h3>
            <a href="{% url 'app:download_playlist' pk=league.playlist.pk %}"
               download="{{ league.playlist.title }}.json">
                <span class="dl_link">PLAYLIST
                    <img src="{% static 'DL_white.png' %}"
                         height="25px"
                         width="25px"
                         loading="lazy">
                </span>
            </a>
            <a href="{% url 'app:playlist' pk=league.playlist.pk %}">
                <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="
                    <h4>プレイリストの詳細</h4>
                    ">
                    <img src="{% static 'pict_playlist.png' %}"
                         height="40px"
                         width="40px"
                         loading="lazy">
                </span>
            </a>
        </h3>
        <p>
            リーグの種別 :
            {% if not league.isPublic %}
                非公開　
            {% else %}
                公開
                {% if league.limit == 2000 %}
                    （上限なし）
                {% else %}
                    （有効 PP 上限 : {{ league.limit }} PP）
                {% endif %}
            {% endif %}
            有効譜面数 {{ league.max_valid }}
        </p>
        <div style="display:inline-flex;">
            {% if join_state < 6 %}
                {{ join_comment }}
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn" name="join" type="submit" value="{{ user.player.sid }}">参加</button>
                </form>
            {% endif %}
            {% if not isMember and user.is_authenticated %}
                <form method="get" action="{% url 'app:virtual_league' pk=league.pk %}">
                    <button class="btn" style="margin-left:20px">バーチャル参加</button>
                </form>
            {% endif %}
        </div>
        <details style="margin-bottom:20px" {{ comment_open }}>
            <summary>
                Owner's Comment
            </summary>
            <div style="display:flex;background:red; padding:20px;background:{{ league.color }};border-radius:20px;color:black">
                <div>
                    <img src="{{ league.owner.imageURL }}" class="icon" loading="lazy">
                    <br>
                    {% include "player_element.html" with player=league.owner %}
                    {% if user.player == league.owner %}
                        <br>
                        <form method="post" action="{% url 'app:owner_comment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="league" value=" {{ league.pk }} ">
                            <input type="image"
                                   src="{% static 'pencil.png' %}"
                                   width="25px"
                                   height="25px">
                            {{ player.comment }}
                        </form>
                    {% endif %}
                </div>
                <div class="owner-comment" style="text-align:left">{{ league.ownerComment }}</div>
            </div>
        </details>
    </div>
    <div id="ranking"
         class="border8-target"
         style="background:linear-gradient(to right, {{ league.color }}, rgba(0,0,0,0));padding:20px;border-radius:20px">
        <table class="table table-striped table-borderless"
               style="background : rgba(255,255,255,.5)">
            <thead>
                <tr>
                    <th width="70px">Rank</th>
                    <th width="250px">Player</th>
                    <th width="100px">
                        有効
                        <br />
                        順位点
                    </th>
                    <th width="100px">
                        順位点
                        <br />
                        比率
                    </th>
                    <th width="70px">
                        有効
                        <br />
                        譜面
                    </th>
                    <th width="100px">
                        有効
                        <br />
                        精度
                    </th>
                    <th width="auto">Message</th>
                </tr>
            </thead>
            <tbody>
                {% for player in scored_rank %}
                    <tr>
                        <td>#{{ player.rank }}</td>
                        <td>
                            {% if user.player == player or user.player.rival == player %}<div class="enclosure">{% endif %}
                            <a href="{% url 'app:userpage' sid=player.sid %}" style="color:black">
                                <img src="{{ player.imageURL }}" class="icon" alt="icon" loading="lazy"/>
                                {% include 'player_element.html' %}
                            </a>
                            {% if is_detail %}
                                {% if player.twitch != '' %}
                                    <a href="https://twitch.tv/{{ player.twitch }}">
                                        <img src="{% static 'twitch.png' %}" height=25 width=25/>
                                    </a>
                                {% endif %}
                                {% include "badge_element.html" with badges=player.badges.all badge_width=35 %}
                                {% if not player.inDiscord %}<b><u>NOT IN DISCORD</u></b>{% endif %}
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <span {% if player.tooltip_pos %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{{ player.tooltip_pos }}" {% endif %}>
                            {{ player.count_pos }}
                        </span>
                    </td>
                    <td>
                        {% if player.theoretical == 100 %}
                            <span class="diff" style="color:white">MAX</span>
                        {% else %}
                            ({{ player.theoretical|floatformat:2 }} %)
                        {% endif %}
                    </td>
                    <td>
                        <span {% if player.tooltip_valid %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{{ player.tooltip_valid }}" {% endif %}>
                            {{ player.valid }}
                        </span>
                    </td>
                    <td>
                        <span style="{{ player.decorate }}"
                              {% if player.tooltip_acc %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{{ player.tooltip_acc }}" {% endif %}> {{ player.count_acc|floatformat:2 }} %
                        </span>
                    </td>
                    <td>
                        {% if user.player == player %}
                            <form method="post" action="{% url 'app:league_comment' %}">
                                {% csrf_token %}
                                <input type="hidden" name="player" value=" {{ player.pk }} ">
                                <input type="hidden" name="league" value=" {{ league.pk }} ">
                                <input type="image"
                                       src="{% static 'pencil.png' %}"
                                       width="25px"
                                       height="25px">
                                {{ player.comment }}
                            </form>
                        {% else %}
                            {{ player.comment }}
                        {% endif %}
                    </td>
                </tr>
                {% if player.rank == league.border_line %}
                    <tr>
                        <td colspan="7">
                            <hr />
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="border8-trigger" href="#ranking">すべて表示</a>
</div>
<hr />
<h2 style="text-align:center">譜面別リーグ内順位</h2>
{% for song in LBs %}
    {% if song.song_info_genre %}
        <span style="font-size:22px;color:darkgray"><i><strong>{{ song.song_info_genre}}</strong></i></span>
    {% endif %}
    <form method="POST"
          action="{% url 'app:leaderboard' pk=league.pk %}"
          onsubmit="return confirm('本当に除外してよいですか？');">
        <span style="font-size:22px;font-weight:bold"> {{ song.title }} <span style="color:{{ song.color }}">{{ song.diff }}
            {% if song.char != 'Standard' %}{{ song.char }}{% endif %}
        </span></span> by {{ song.author }}
        {% if song.lid|length %}
            <a href="https://scoresaber.com/leaderboard/{{ song.lid }}"
               style="filter:invert()">
                <img src="{% static 'ScoreSaberLogo.png' %}"
                     width="30px"
                     height="30px"
                     alt="scoresaber"
                     loading="lazy"/>
            </a>
        {% else %}
            <a href="https://www.beatleader.xyz/leaderboard/global/{{ song.bid }}"
               style="filter:invert()">
                <img src="{% static 'BeatLeader.png' %}"
                     width="30px"
                     height="30px"
                     alt="BeatLeader"
                     loading="lazy"/>
            </a>
            <p style="color:gray">
                ※ こちらはV3譜面になります。スコアの送信にはBeatLeaderへの登録が必要です。
            </p>
        {% endif %}
        {% if user.is_staff and league.isLive %}
            {% csrf_token %}
            <input type="hidden" name="remove_song" value="{{ song.pk }}">
            <button type="submit" class="btn btn-danger" style="background:red">除外</button>
        {% endif %}
    </form>
    <div id="{{ song.lid }}"
         class="top5-target"
         style="padding:20px;background:linear-gradient(to right, {{ league.color }}, rgba(0,0,0,0));border-radius:20px">
        <div style="display:flex">
            <img src="{{ song.imageURL }}" class="thumb" alt="thumb" loading="lazy"/>
            <table class="table table-striped table-borderless"
                   style="background : rgba(255,255,255,.5)">
                <thead>
                    <tr>
                        <th width="70px">Rank</th>
                        <th width="250px">Player</th>
                        <th width="70px">順位点</th>
                        <th width="70px">
                            有効
                            <br>
                            譜面
                        </th>
                        <th width="100px">Accuracy</th>
                        <th width="100px">Miss</th>
                        <th width="100px">
                            Replay
                        </th>
                        <th width="auto">
                            Message
                        </th>
                    </tr>
                </thead>
                <tbody style="color:black">
                    {% for score in song.scores %}
                        <tr>
                            <td>
                                #{{ score.rank }}
                            </td>
                            <td>
                                {% if user.player == score.player or user.player.rival == score.player %}
                                    <div style="border-radius:10px;
                                                border:3px dashed rgba(0,0,0,.5);
                                                padding:10px;">
                                    {% endif %}
                                    <a href="{% url 'app:userpage' sid=score.player.sid %}"
                                       style="color:black">
                                        <img src="{{ score.player.imageURL }}" class="icon" loading="lazy">
                                        {% include "player_element.html" with player=score.player %}
                                    </a>
                                </div>
                            </td>
                            <td>
                                {{ score.pos }}
                            </td>
                            <td>
                                {% if score.valid %}
                                    <img src="{% static 'simple_check.png' %}"
                                         height="15px"
                                         width="15px"
                                         loading="lazy">
                                {% endif %}
                            </td>
                            <td>
                                <span style="{{ score.decorate }}">
                                    {{ score.acc|floatformat:2 }} %
                                </span>
                            </td>
                            <td>
                                {% if score.miss == 0 %}
                                    <span class="diff" style="color:white">FC</span>
                                {% else %}
                                    {{ score.miss }}
                                {% endif %}
                            </td>
                            <td>
                                {% if score.beatleader != '' %}
                                    <a href="https://replay.beatleader.xyz/?scoreId={{ score.beatleader }}"
                                       target="blank">
                                        <img src="{% static 'BeatLeader.png' %}" width=25 height=25>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.player == score.player %}
                                    <form method="post" action="{% url 'app:score_comment' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="score" value="{{ score.id }}">
                                        <input type="image"
                                               src="{% static 'pencil.png' %}"
                                               width="25px"
                                               height="25px">
                                        {{ score.comment }}
                                    </form>
                                {% else %}
                                    {{ score.comment }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if scored_rank|length > 5 %}
            <a class="top5-trigger" href="#{{ song.lid }}" style="margin-left:158px">すべて表示</a>
        {% endif %}
    </div>
{% endfor %}
<div style="text-align:center">
    {% if isMember %}
        {% if league.isLive %}
            {% if isClose %}
                <p>
                    公式リーグでは、終了 48 時間前を過ぎると脱退することはできません
                </p>
            {% else %}
                <p>
                    <form method="post" onSubmit="return check()">
                        {% csrf_token %}
                        <button class="danger"
                                name="disjoin"
                                type="submit"
                                value="{{ user.player.sid }}">
                            脱退
                        </button>
                    </form>
                </p>
            {% endif %}
        {% else %}
            <p>
                終了したリーグから脱退することはできません
            </p>
        {% endif %}
    {% endif %}
</div>
<p>
    現在の負荷係数：{{ load_index }} ( = {{ league.playlist.songs.all | length }} x {{ league.player.all | length }} )
</p>
<p>
    順位の計算に要した時間：{{ duration | floatformat:0 }} ms
</p>
{% comment %} {% if league.isLive and isMember %}
    <form method="POST" action="{% url 'app:beatleader_submission' %}">
        {% csrf_token %}
        Beta :
        <button class="btn" name="league_pk" value="{{ league.pk }}">
            BeatLeader Submission
        </button>
    </a>
</form>
{% endif %} {% endcomment %}
<script>
function check(){
if(window.confirm('本当に脱退してよろしいですか？　非公開リーグの場合は、再度招待を受けない限り参加できません。')){ // 確認ダイアログを表示
    return true; // 「OK」時は送信を実行
}
else{ // 「キャンセル」時の処理
    window.alert('脱退処理を取り消しました。'); // 警告ダイアログを表示
    return false; // 送信を中止
}

}

window.addEventListener('load',()=>{
Countdown();
})

const Countdown = function(){
const cd_areas = document.getElementsByClassName('countdown');
[...cd_areas].forEach(cd_area=>{
    const target_unix = new Date(cd_area.dataset.date)/1000;
    updateCountdown(target_unix, cd_area);
    setInterval(() => {
        updateCountdown(target_unix, cd_area);
      }, 1000);
});

function updateCountdown(target_unix, cd_area) {
    const now_unix = Math.floor(new Date() / 1000);
    let sec = target_unix - now_unix;
    sec = sec;
    let cd_text = '';
    if (sec >= 3600) {
      cd_text += td(Math.floor(sec / 3600)) + '時間';
      sec = sec % 3600;
    } else {
      cd_text += '00時間';
    }
    if (sec >= 60) {
      cd_text += td(Math.floor(sec / 60)) + '分';
      sec = sec % 60;
    } else {
      cd_text += '00分';
    }
    cd_text += td(sec) + '秒';
    cd_area.textContent = cd_text;
  }

function td(x){
    if(x<10){
    return '0'+x;
    }else{
    return x;
    }
}
}

const timer = 1000*60*5    // ミリ秒で間隔の時間を指定

window.addEventListener('load',function(){
  setInterval('location.reload()',timer);
});

</script>
{% endblock content %}
