{% extends "base.html" %}
{% block content %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <h3>リーグ情報</h3>
    <p>
        Playlist : {{ league.playlist.title }}（変更不可能）
    </p>
    <p>
        Title : <span style="color:{{ league.color }}">{{ league.name }}</span>
    </p>
    <p>
        Description : {{ league.description }}
    </p>
    <p>
        Color : <span style="background : {{ league.color }}; padding-left:50px"></span>
    </p>
    <p>
        終了日時 : {{ end_str }}
    </p>
    <p>
        種別 :
        {% if league.isPublic %}
            公開
        {% else %}
            非公開
        {% endif %}
    </p>
    <p>
        最大有効譜面 : {{ league.method }}
    </p>
    <p>
        有効 PP の上限 : {{ league.limit }}
    </p>
    <div class="info-submit">
        <form method="post">
            {% csrf_token %}
            <h3>リーグ情報の変更</h3>
            <p>
                <label>Title :</label>
                <input type="text" size="50px" name="title" value="{{ league.name }}" />
            </p>
            <p>
                <p>
                    <label>Description :</label>
                    {{ league.description }}
                </p>
                <textarea style="width:400px;height:100px" name="description">{{ league.description }}</textarea>
            </p>
            <p>
                <label>Color :</label>
                <select name="color">
                    {% for league_color in league_colors %}
                        <option value="{{ league_color.value }}"
                                {% if league.color  == league_color.value %}selected{% endif %}>
                            {{ league_color.text }}
                        </option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label>終了日時 :</label>
                <input type="datetime-local" name="end" value="{{ end_str }}" />
            </p>
            <p>
                <Label>公開リーグ :</Label>
                <input type="checkbox"
                       name="public"
                       style="transform:scale(2.5);margin-left:10px"
                       {% if league.isPublic %} checked{% endif %}>
            </p>
            <p>
                <label>最大有効譜面 :</label>
                <input type="range"
                       min="0"
                       max="20"
                       value="{{ league.method }}"
                       style="width:200px"
                       name="valid"/>
                <span class="indicate-valid">{{ league.method }}</span>
            </p>
            <p>
                <label>有効 PPの上限 :</label>
                <input type="range"
                       min="0"
                       max="2000"
                       value="{{ league.limit }}"
                       style="width:300px"
                       step="10"
                       name="limit">
                <span class="indicate-limit">{{ league.limit }}</span>
            </p>
            <p>
                <button class="btn" type="submit">変更のみ</button>
                <button class="btn" type="submit" name="back" value="back">変更してリーグに戻る</button>
            </p>
        </form>
    </div>
    <br>
    {% if league.isLive %}
        <h3>プレイヤーの招待</h3>
        <div style="display:inline-block">
            <p>
                招待中のプレイヤー :
                {% for player in invite_players %}
                    <form method="post">
                        {% csrf_token %}
                        <img src="{{ player.imageURL }}" class="icon">
                        {{ player }}
                        <button class="btn"
                                style="background:red;border-style:None"
                                name="withdraw"
                                value="{{ player.sid }}">招待取消</button>
                    </form>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    <p>
        Shift で範囲選択、Ctrl で複数選択ができます。
    </p>
    <form method="post">
        {% csrf_token %}
        <select multiple size="{{ not_invite_players|length }}" name="invite">
            {% for player in not_invite_players %}
                <option value={{ player.sid }}>{{ player }} :  {{ player.pp }} pp ({{ player.borderPP|floatformat:2 }} pp)
                </option>
            {% endfor %}
        </select>
        <button class="btn" type="submit">招待</button>
    </form>
    <script>
        $("input[name='valid']").on("input", function (e) {
            var range = e.target
            $(".indicate-valid").text(range.value)
        })
    </script>
    <script>
        $("input[name='limit']").on("input", function (e) {
            var range = e.target
            $(".indicate-limit").text(range.value)
        })
    </script>
{% endblock content %}
