{% load static %}
<h3>Live Leagues</h3>
<table class="table table-striped table-borderless"
       style="background: rgba(255,255,255,.5)">
    <thead>
        <th>Cover</th>
        <th>Title</th>
        <th>Description</th>
        <th>Border</th>
        <th>Owner</th>
        <th>End</th>
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
    </thead>
    {% for league in leagues %}
        <tr style="background:linear-gradient(to right, {{ league.color }}, rgba(0,0,0,0));">
            <td>
                <a href= {% url 'app:leaderboard' pk=league.pk %}>
                    <img class="thumb" src=" {{ league.playlist.image }}" />
                </a>
            </td>
            <td>
                {{ league.name }}
                {% if league.isOfficial %}
                    <img src="{% static 'Check.png' %}" height="25px"/>
                {% endif %}
            </td>
            <td>{{ league.description|truncatechars:50 }}</td>
            <td>{% include "border_element.html" %}</td>
            <td>
                <a href=" {% url 'app:userpage' sid=league.owner.sid %}"
                   style="color:black">
                    {% include  "player_element.html" with player=league.owner %}
                </a>
            </td>
            <td>{{ league.end }}</td>
            <td>{% include "top_ranker.html" with ranker=league.first %}</td>
            <td>{% include "top_ranker.html" with ranker=league.second %}</td>
            <td>{% include "top_ranker.html" with ranker=league.third %}</td>
        </tr>
        <tr>
            <td colspan="9" style="background:{{ league.color }}">
                <details>
                    <summary>
                        Owner's comment
                    </summary>
                    <div style="display:flex">
                        <div style>
                            <img src="{{ league.owner.imageURL }}" class="icon">
                            <br>
                            {% include "player_element.html" with player=league.owner %}
                            {% if user.player == league.owner %}
                                <br>
                                <form method="post" action="{% url 'app:owner_comment' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="league" value=" {{ league.pk }} ">
                                    <input type="image"
                                           src="{% static 'pencil.png' %}"
                                           width="25px"
                                           height="25px">
                                    {{ player.comment }}
                                </form>
                            {% endif %}
                        </div>
                        <div class="owner-comment"><pre>{{ league.ownerComment }}</pre></div>
                    </div>
                </details>
            </td>
        </tr>
    {% endfor %}
</table>
