{% load static %}
<h3>Live Leagues</h3>
<table class="table table-striped table-borderless"
       style="background: rgba(255,255,255,.5)">
    <thead>
        <th>Cover</th>
        <th>Title</th>
        <th>Description</th>
        <th>Border</th>
        <th>Owner</th>
        <th>End</th>
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
    </thead>
    {% for league in leagues %}
        <tr style="background:linear-gradient(to right, {{ league.color }}, rgba(0,0,0,0));">
            <td>
                <a href= {% url 'app:leaderboard' pk=league.pk %}>
                    <img class="thumb" src=" {{ league.playlist.image }}" />
                </a>
            </td>
            <td>
                {{ league.name }}
                {% if league.isOfficial %}
                    <img src="{% static 'Check.png' %}" height="25px"/>
                {% endif %}
            </td>
            <td>{{ league.description|truncatechars:50 }}</td>
            <td>
                {% if league.isPublic %}
                    {% if league.limit == 2000 %}
                        －
                    {% else %}
                        {{ league.limit }}
                    {% endif %}
                {% else %}
                    <img src="{% static 'Locked.png' %}" height="25px">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:userpage' sid=league.owner.sid %}"
                   style="color:black">{{ league.owner.name }}</a>
            </td>
            <td>{{ league.end }}</td>
            <td>{% include "top_ranker.html" with ranker=league.first %}</td>
            <td>{% include "top_ranker.html" with ranker=league.second %}</td>
            <td>{% include "top_ranker.html" with ranker=league.third %}</td>
            <td></td>
        </tr>
    {% endfor %}
</table>
