{% load static %}
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>JBSL</title>
    <meta property="og:title" content="JapanBeatSaberLeague" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
          content="日本のプレイヤー同士でビートセイバーの総合的な実力を競い合う大会です！"/>
    <meta property="og:site_name" content="JapanBeatSaberLeague" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static 'card.png' %}" />
    <meta name="twitter:card" content="{% static 'card.png' %}">
    <meta name="twitter:site" content="@115_jbsl">
</head>
{% if isEditor %}<div style="background-color:grey">{% endif %}
<div class="match-border" style="color:white">
    <div class="match-title" id="title">Match1</div>
    <div class="match-player1">
        <img src=""
             id="player1-icon"
             class="icon"
             style="width:90px;height:90px;border-radius:50px">
        <span id="player1" style="font-size:70px">Player1</span>
    </div>

    <div class="match-result1_1">
        <img src="{% static 'vacant.png' %}" height="90" width="90" id="star1_1">
    </div>
    <div class="match-result1_1">
        <img src="{% static 'vacant.png' %}"
             height="90"
             width="90"
             id="star1_1_t"
             style="animation: flash 2s linear infinite;">
    </div>
    <div class="match-result1_2">
        <img src="{% static 'vacant.png' %}" height="70" width="70" id="star1_2">
    </div>
    <div class="match-result1_2">
        <img src="{% static 'vacant.png' %}"
             height="70"
             width="70"
             id="star1_2_t"
             style="animation: flash 2s linear infinite;">
    </div>
    <div class="match-result1_3">
        <img src="{% static 'vacant.png' %}" height="55" width="55"  id="star1_3">
    </div>
    <div class="match-result1_3">
        <img src="{% static 'vacant.png' %}"
             height="50"
             width="50"
             id="star1_3_t"
             style="animation: flash 2s linear infinite;">
    </div>

    <div class="match-bomb1">
        <img src="" height=150 width=150 id="bomb1">
    </div>
    <div class="match-highest1" id="match-highest1">
        ADV. {{ match.highest_acc }} %
    </div>
    <div class="match-player2">
        <span id="player2" style="font-size:70px">Player2</span>
        <img src=""
             id="player2-icon"
             class="icon"
             style="width:90px;height:90px;border-radius:50px">
    </div>


    <div class="match-result2_1">
        <img src="{% static 'vacant.png' %}" height="90" width="90" id="star2_1">
    </div>
    <div class="match-result2_1">
        <img src="{% static 'vacant.png' %}"
             height="90"
             width="90"
             id="star2_1_t"
             style="animation: flash 2s linear infinite;">
    </div>
    <div class="match-result2_2">
        <img src="{% static 'vacant.png' %}" height="70" width="70" id="star2_2">
    </div>
    <div class="match-result2_2">
        <img src="{% static 'vacant.png' %}"
             height="70"
             width="70"
             id="star2_2_t"
             style="animation: flash 2s linear infinite;">
    </div>
    <div class="match-result2_3">
        <img src="{% static 'vacant.png' %}" height="55" width="55"  id="star2_3">
    </div>
    <div class="match-result2_3">
        <img src="{% static 'vacant.png' %}"
             height="55"
             width="55"
             id="star2_3_t"
             style="animation: flash 2s linear infinite;">
    </div>

    <div class="match-bomb2">
        <img src="" height=150 width=150 id="bomb2">
    </div>
    <div class="match-highest2" id="match-highest2">
        ADV. {{ match.highest_acc }} %
    </div>
    <div class="match-image">
        <img src=""
             id="imageURL"
             height="230"
             width="230"
             style="border-radius:20px;
                    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .3);">
    </div>
    <div class="match-info" style="line-height:40px;font-size:40px">
        <p id="map-info1">
            MAP Info
        </p>
        <p id="map-info2">
            MAP Info
        </p>
        <p id="map-info3" style="">
            MAP Info
        </p>
        <p id="map-info4">
            MAP Info
        </p>
    </div>
</div>
{% if isEditor %}</div>{% endif %}
{% if isEditor %}
    {% if inMatch  %}
        <form method="post">
            {% csrf_token %}
            <div class="match-winbutton1">
                <input value name="highest1" placeholder="winner's acc"><button class="btn" name="player1_win">{{ match.player1 }} WIN</button>
            </div>
            <div class="match-resetbutton">
                <button class="btn" name="reset">RESET</button>
            </div>
            <div class="match-winbutton2">
                <input value name="highest2" placeholder="winner's acc"><button class="btn" name="player2_win">{{ match.player2 }} WIN</button>
            </div>
        </form>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% if not match.retry1 and match.state == 1 %}
                <div class="match-retrybutton1">
                    <button class="btn" name="player1_retry" style="background-color:red">{{ match.player1 }} RETRY</button>
                </div>
            {% endif %}
            <div class="match-noretry">
                <button class="btn" name="no_retry">NO RETRY</button>
            </div>
            {% if not match.retry2 and match.state == -1 %}
                <div class="match-retrybutton2">
                    <button class="btn" name="player2_retry" style="background-color:red">{{ match.player2 }} RETRY</button>
                </div>
            {% endif %}
        </form>
    {% endif %}
    <div class="coordinator">
        <p>
            この部分はコーディネーター用の調整領域になります
        </p>
        <p>
            ブラウザソースでは、この部分は表示されません
        </p>
        <p>
            現在の状態 : {{ state }}
        </p>
        <p>
            PLAYER1_SCORE : {{ match.result1 }} / 6 PLAYER2_SCORE : {{ match.result2 }} / 6
        </p>
        <form method="post">
            now_playing :
            {% csrf_token %}
            <select name="next-song">
                {% for song in match.playlist.songs.all %}
                    <option value={{ song.lid }} {% if song == match.now_playing %}selected{% endif %}> {{ song }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">譜面切り替え</button>
        </form>
        <form method="POST">
            player_set :
            {% csrf_token %}
            <select name="player1">
                {% for player in match.league.player.all %}
                    <option value={{ player.sid }} {% if player == match.player1 %}selected{% endif %}> {{ player }}
                    </option>
                {% endfor %}
            </select>
            <select name="player2">
                {% for player in match.league.player.all %}
                    <option value={{ player.sid }}  {% if player == match.player2 %}selected{% endif %}> {{ player }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">選手切り替え</button>
        </form>
        <form method="post">
            playlist :
            {% csrf_token %}
            <select name="playlist">
                {% for playlist in playlists %}
                    <option value={{ playlist.pk }} {% if playlist == match.playlist %}selected{% endif %}> {{ playlist }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">プレイリスト切り替え</button>
        </form>
        <form method="post">
            member :
            {% csrf_token %}
            <select name="league">
                {% for league in leagues %}
                    <option value={{ league.pk }} {% if league == match.league %}selected{% endif %}> {{ league }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">メンバー切り替え</button>
        </form>
        <form method="post">
            match_title :
            {% csrf_token %}
            <input text name="title" value="{{ match.title }}">
            <button class="btn" type="submit">タイトル切り替え</button>
        </form>
    </div>
{% endif %}
<script>
    window.onload = function(){
        console.log('loaded');
    }

    function update(data){
        // console.log(data);
        document.getElementById("title").innerHTML = data['title'];
        document.getElementById("player1").innerHTML = data['player1'];
        document.getElementById("player1-icon").src = data['player1-imageURL'];
        if(!data['retry1']){
            document.getElementById("bomb1").src = "{% static 'bomb_before.png' %}";
         }else{
            document.getElementById("bomb1").src = "{% static 'bomb_after.png' %}";
        }

        // star1
        if(data['result1'] >= 1){
            if(data['result1'] == 1){
            document.getElementById("star1_1_t").src = "{% static 'star.png' %}"; 
            }else{
            document.getElementById("star1_1").src = "{% static 'star.png' %}"; 
            }
        }else{
            document.getElementById("star1_1_t").src = "{% static 'vacant.png' %}";
            document.getElementById("star1_1").src = "{% static 'vacant.png' %}";
        }
        if(data['result1'] >= 3){
            if(data['result1'] == 3){
                document.getElementById("star1_2_t").src = "{% static 'star.png' %}";
            }else{
                document.getElementById("star1_2").src =  "{% static 'star.png' %}";
            }
        }else{
            document.getElementById("star1_2_t").src = "{% static 'vacant.png' %}";
            document.getElementById("star1_2").src = "{% static 'vacant.png' %}";
        }
        if(data['result1'] >= 5){
            if(data['result1'] == 5){
                document.getElementById("star1_3_t").src = "{% static 'star.png' %}";
            }else{
                document.getElementById("star1_3").src = "{% static 'star.png' %}";
            }
        }else{
            document.getElementById("star1_3_t").src = "{% static 'vacant.png' %}";
            document.getElementById("star1_3").src = "{% static 'vacant.png' %}";
        }
        //star1

        document.getElementById("player2").innerHTML = data['player2'];
        document.getElementById("player2-icon").src = data['player2-imageURL'];
        if(!data['retry2']){
            document.getElementById("bomb2").src = "{% static 'bomb_before.png' %}";
        }else{
            document.getElementById("bomb2").src = "{% static 'bomb_after.png' %}";
        }


        // star2
        if(data['result2'] >= 1){
            if(data['result2'] == 1){
                document.getElementById("star2_1_t").src = "{% static 'star.png' %}"; 
            }else{
                document.getElementById("star2_1").src = "{% static 'star.png' %}"; 
            }
        }else{
            document.getElementById("star2_1_t").src = "{% static 'vacant.png' %}";
            document.getElementById("star2_1").src = "{% static 'vacant.png' %}";
        }
        if(data['result2'] >= 3){
            if(data['result2'] == 3){
                document.getElementById("star2_2_t").src = "{% static 'star.png' %}";
            }else{
                document.getElementById("star2_2").src =  "{% static 'star.png' %}";
            }
        }else{
            document.getElementById("star2_2").src = "{% static 'vacant.png' %}";
        }
        if(data['result2'] >= 5){
            if(data['result2'] == 5){
                document.getElementById("star2_3_t").src = "{% static 'star.png' %}";
            }else{
                document.getElementById("star2_3").src = "{% static 'star.png' %}";
            }
        }else{
            document.getElementById("star2_3").src = "{% static 'vacant.png' %}";
        }
        //star2

        if(data['state'] < 0){
            document.getElementById("match-highest1").innerHTML = "ADV." + data['highest'] + "%";
        }else{
            document.getElementById("match-highest1").innerHTML = "";
        }
        if(data['state'] > 0){
            document.getElementById("match-highest2").innerHTML = "ADV." + data['highest'] + "%";
        }else{
            document.getElementById("match-highest2").innerHTML = "";
        }

        document.getElementById("imageURL").src = data['imageURL'];
        document.getElementById("map-info1").innerHTML = data['map-info1'];
        document.getElementById("map-info2").innerHTML = data['map-info2'];
        document.getElementById("map-info3").innerHTML = data['map-info3'];
        document.getElementById("map-info3").style = "color:" + data['map-info3-color'];
        document.getElementById("map-info4").innerHTML = data['map-info4'];

    }

    setInterval(function () {
        var url = "/match/api/" + {{ pk }};
        const response = fetch(url).
        then(response => response.json()).
        then(data => update(data));
    }, 500);
</script>
