{% load static %}
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>JBSL</title>
    <meta property="og:title" content="JapanBeatSaberLeague" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
          content="日本のプレイヤー同士でビートセイバーの総合的な実力を競い合う大会です！"/>
    <meta property="og:site_name" content="JapanBeatSaberLeague" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static 'card.png' %}" />
    <meta name="twitter:card" content="{% static 'card.png' %}">
    <meta name="twitter:site" content="@115_jbsl">
</head>
{% if isEditor %}<div style="background-color:grey">{% endif %}
<div class="match-border" style="color:white">
    <div class="match-title" id="title">Match1</div>
    <div class="match-player1">
        <img src=""
             id="player1-icon"
             class="icon"
             style="width:100px;height:100px;border-radius:50px">
        <span id="player1">Player1</span>
    </div>
    <div class="match-result1">
        {% if match.result1 >= 1 %}
            <img src="{% static 'star.png' %}" height=90 width=90 id="star1_1" style="animation: flash 2s linear infinite;">
        {% endif %}
        {% if match.result1 >= 3 %}
            <img src="{% static 'star.png' %}" height=80 width=80>
        {% endif %}
        {% if match.result1 >= 5 %}
            <img src="{% static 'star.png' %}" height=70 width=70>
        {% endif %}
    </div>
    <div class="match-bomb1">
        <img src="" height=150 width=150 id="bomb1">
    </div>
    <div class="match-player2">
        <span id="player2">Player2</span>
        <img src=""
             id="player2-icon"
             class="icon"
             style="width:100px;height:100px;border-radius:50px">
    </div>
    <div class="match-result2">Result2</div>
    <div class="match-bomb2">
        <img src="" height=150 width=150 id="bomb2">
    </div>
    <div class="match-image">
        <img src=""
             id="imageURL"
             height="256"
             width="256"
             style="border-radius:20px;
                    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, .3);">
    </div>
    <div class="match-info" style="line-height:40px;font-size:40px">
        <p id="map-info1">
            MAP Info
        </p>
        <p id="map-info2">
            MAP Info
        </p>
        <p id="map-info3" style="">
            MAP Info
        </p>
        <p id="map-info4">
            MAP Info
        </p>
    </div>
</div>
{% if isEditor %}</div>{% endif %}
{% if isEditor %}
    <div class="match-winbutton1">
        <button class="btn">{{ match.player1 }} WIN</button>
    </div>
    <div class="match-winbutton2">
        <button class="btn">{{ match.player2 }} WIN</button>
    </div>
    <div class="coordinator">
        <p>
            この部分はコーディネーター用の調整領域になります
        </p>
        <p>
            ブラウザソースでは、この部分は表示されません
        </p>
        <form method="post">
            now_playing :
            {% csrf_token %}
            <select name="next-song">
                {% for song in match.playlist.songs.all %}
                    <option value={{ song.lid }} {% if song == match.now_playing %}selected{% endif %}> {{ song }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">譜面切り替え</button>
        </form>
        <form method="POST">
            player_set :
            {% csrf_token %}
            <select name="player1">
                {% for player in match.league.player.all %}
                    <option value={{ player.sid }} {% if player == match.player1 %}selected{% endif %}> {{ player }}
                    </option>
                {% endfor %}
            </select>
            <select name="player2">
                {% for player in match.league.player.all %}
                    <option value={{ player.sid }}  {% if player == match.player2 %}selected{% endif %}> {{ player }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">選手切り替え</button>
        </form>
        <form method="post">
            playlist :
            {% csrf_token %}
            <select name="playlist">
                {% for playlist in playlists %}
                    <option value={{ playlist.pk }} {% if playlist == match.playlist %}selected{% endif %}> {{ playlist }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">プレイリスト切り替え</button>
        </form>
        <form method="post">
            member :
            {% csrf_token %}
            <select name="league">
                {% for league in leagues %}
                    <option value={{ league.pk }} {% if league == match.league %}selected{% endif %}> {{ league }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">リーグ切り替え</button>
        </form>
        <form method="post">
            match_title :
            {% csrf_token %}
            <input text name="title" value="{{ match.title }}">
            <button class="btn" type="submit">タイトル切り替え</button>
        </form>
    </div>
{% endif %}
<script>
    window.onload = function(){
        console.log('loaded');
    }

    function update(data){
        // console.log(data);
        document.getElementById("title").innerHTML = data['title'];
        document.getElementById("player1").innerHTML = data['player1'];
        document.getElementById("player1-icon").src = data['player1-imageURL'];
        document.getElementById("bomb1").src = "{% static 'bomb_before.png' %}";
        document.getElementById("player2").innerHTML = data['player2'];
        document.getElementById("player2-icon").src = data['player2-imageURL'];
        document.getElementById("bomb2").src = "{% static 'bomb_before.png' %}";
        document.getElementById("imageURL").src = data['imageURL'];
        document.getElementById("map-info1").innerHTML = data['map-info1'];
        document.getElementById("map-info2").innerHTML = data['map-info2'];
        document.getElementById("map-info3").innerHTML = data['map-info3'];
        document.getElementById("map-info3").style = "color:" + data['map-info3-color'];
    }

    setInterval(function () {
        var url = "/match/api/" + {{ pk }};
        const response = fetch(url).
        then(response => response.json()).
        then(data => update(data));
    }, 500);
</script>
