{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if user.player.isActivated %}
        <p style="text-align:right">
            <button class="btn" onclick="location.href='{% url 'app:create_playlist' %}'">プレイリストを作成する</button>
        </p>
    {% endif %}
    <h3>Archives</h3>
    <table class="table table-striped table-borderless">
        <thead>
            <th>Page Index</th>
            <th>Title</th>
            <th>Description</th>
            <th>Editor</th>
            <th>Fixed</th>
            <th>Songs</th>
        </thead>
        {% for playlist in archives %}
            <tr>
                <td>
                    <a href="{% url 'app:playlists' page=playlist.page %}"
                       style="color:black">Page {{ playlist.page }}</a>
                </td>
                <td>
                    <a href={% url 'app:playlist' pk=playlist.pk %} style="color:black">{{ playlist.title }}</a>
                    <a href="{% url 'app:download_playlist' pk=playlist.pk %}"
                       download="{{ playlist.title }}.json">
                        <img src="{% static 'DL.png' %}" width="25px" height="25px">
                    </a>
                </td>
                <td>{{ playlist.description |truncatechars:50 }}</td>
                <td>{{ playlist.editor }}</td>
                <td>
                    {% if playlist.isEditable %}
                    {% else %}
                        <img src="{% static 'Locked.png' %}" height="25px"/>
                    {% endif %}
                </td>
                <td>{{ playlist.songs.all|length }} songs</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
