
{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div id="container" style="height:1300px;margin-left:50px;margin-top:150px;user-select : none"><img src="{% static 'matrix_background.png' %}" style="border-radius:20px"/></div>
    {% for player in players %}
            <a href="{% url 'app:userpage' sid=player.sid %}">
            <img src="{{ player.imageURL }}"
                 class="icon"
                 style="position: absolute;
                        left: {{ player.relative_techPP }}px;
                        top: {{ player.relative_passPP }}px;
                        z-index: {% if player == user.player %}1{% else %}0{% endif %};
                        border: {% if player == user.player %}3px solid orange{% else %}none{% endif %};">
            </a>
        {% endfor %}
    <a href="{% url 'app:player_matrix' %}"><button class="btn">View Reset</button></a>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const container = document.getElementById('container');
    
        container.addEventListener('click', function (event) {
            const containerRect = container.getBoundingClientRect();
            const x = event.clientX - containerRect.left;
            var y = event.clientY - containerRect.top;
            y = 1200 - y;
            console.log(`クリックされた座標: x: ${x}, y: ${y}`);

            // クエリパラメータを設定
            const params = new URLSearchParams({
                offset_x: (x - 600)/{{now_scale}} + {{now_offset_x}},
                offset_y: (y - 600)/{{now_scale}} + {{now_offset_y}},
                scale: {{now_scale}} * 2,
            });

            // Django の URL メソッドを使ってジャンプ
            const url = `{% url 'app:player_matrix' %}?${params.toString()}`;
            window.location.href = url;
            
        });
    });
</script>
    {% endblock content %}
