{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <h3>
        <img src= {% static 'pict_player.png' %} width="40px" height="40px">
        Players
    </h3>
    <table class="table table-striped table-borderless">
        <thead>
            <th>Player</th>
            <th>Social</th>
            <th>HMD</th>
            <th>BorderPP</th>
            <th>Message</th>
        </thead>
        {% for player in active_players %}
            <tr>
                <td>
                    <a href={% url 'app:userpage' sid=player.sid %} style="color:black">
                        <img class="icon" src={{ player.imageURL }} />
                        {% if player.isSupporter %}
                            <span style="color:{{ player.userColor }}; font-weight:bold; {% if player.isShadow %}filter: drop-shadow(0 0 3px {{ player.bgColor }});{% endif %} ">{{ player }}</span>
                            <img src="{% static 'Check.png' %}" height="15px" width="15px" />
                        {% else %}
                            {{ player }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if player.twitch != '' %}
                        <a href="https://twitch.tv/{{ player.twitch }}" target="blank">
                            <img width="30px" height="30px" src={% static 'twitch.png' %} />
                        </a>
                    {% endif %}
                    {% if player.twitter != '' %}
                        <a href="https://twitter.com/{{ player.twitter }}" target="blank">
                            <img width="30px" height="30px" src={% static 'twitter.png' %} />
                        </a>
                    {% endif %}
                    {% if player.booth != '' %}
                        <a href="https://booth.pm/ja/items/{{ player.booth }}" target="blank">
                            <img width="30px" height="30px" src={% static 'booth.png' %} />
                        </a>
                    {% endif %}
                </td>
                <td>
                    <img width="30px" height="30px" src="{% static player.hmd %}.png" />
                </td>
                <td>{{ player.borderPP | floatformat:2 | intcomma }}</td>
                <td>{{ player.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        Welcome, {{ active_players|length }} players!
    </p>
{% endblock %}
