{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <h3>
        <img src= {% static 'pict_player.png' %} width="40px" height="40px">
        Players
    </h3>
    <table class="table table-striped table-borderless">
        <thead>
            <th>Player</th>
            <th>Social</th>
            <th>HMD</th>
            <th>有効 PP</th>
            <th>Message</th>
        </thead>
        {% for player in active_players %}
            <tr>
                <td>
                    <a href={% url 'app:userpage' sid=player.sid %} style="color:black">
                        <img class="icon" src={{ player.imageURL }} />
                        {% include "player_element.html" %}
                        {% if player.isSupporter %}
                            <img src="{% static 'Check.png' %}" height="15px" width="15px" />
                        {% endif %}
                    </a>
                    {% for badge in player.badges.all %}
                        <span data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              data-bs-html="true"
                              title="{{ badge.name }}">
                            <img src=" {% static "badge/" %}{{ badge.image_name }}.png" height="50px">
                        </span>
                    {% endfor %}
                </td>
                <td>
                    {% if player.twitch != '' %}
                        <a href="https://twitch.tv/{{ player.twitch }}" target="blank">
                            <img width="30px" height="30px" src={% static 'twitch.png' %} />
                        </a>
                    {% endif %}
                    {% if player.twitter != '' %}
                        <a href="https://twitter.com/{{ player.twitter }}" target="blank">
                            <img width="30px" height="30px" src={% static 'twitter.png' %} />
                        </a>
                    {% endif %}
                    {% if player.booth != '' %}
                        <a href="https://booth.pm/ja/items/{{ player.booth }}" target="blank">
                            <img width="30px" height="30px" src={% static 'booth.png' %} />
                        </a>
                    {% endif %}
                </td>
                <td>
                    <img width="30px" height="30px" src="{% static player.hmd %}.png" />
                </td>
                <td>{{ player.borderPP | floatformat:2 | intcomma }}</td>
                <td>{{ player.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        Welcome, {{ active_players|length }} players!
    </p>
{% endblock %}
