{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <h3>
        <img src= {% static 'pict_player.png' %} width="40px" height="40px">
        Players
    </h3>
    <p>
        Sort by
        {% if sort != 'borderPP' %}
            <a href="{% url 'app:players' %}">
                <button class="btn active">有効PP</button>
            </a>
        {% else %}
        <button class="btn" disabled>有効PP</button>
        {% endif %}
        {% if sort != 'techPP' %}
            <a href="{% url 'app:players' %}?sort=techPP">
                <button class="btn active">TechPP</button>
            </a>
        {% else %}
        <button class="btn" disabled>TechPP</button>
        {% endif %}
        {% if sort != 'passPP' %}
            <a href="{% url 'app:players' %}?sort=passPP">
                <button class="btn active">PassPP</button>
            </a>
        {% else %}
        <button class="btn" disabled>PassPP</button>
        {% endif %}
        {% if sort != 'yurufuwa' %}
            <a href="{% url 'app:players' %}?sort=yurufuwa">
                <button class="btn active">ゆるふわポイント</button>
            </a>
        {% else %}
        <button class="btn" disabled>ゆるふわポイント</button>
        {% endif %}
    </p>
    <table class="table table-striped table-borderless">
        <thead>
            <th style="min-width:50px">Rank</th>
            <th>Player</th>
            <th style="min-width:100px">Social</th>
            <th>HMD</th>
            <th>{{ label }}</th>
            <th style="min-width:600px">Message</th>
        </thead>
        {% for player in active_players %}
            <tr>
                <td>
                    # {{ player.rank }}
                </td>
                <td>
                    <a href={% url 'app:userpage' sid=player.sid %} style="color:black">
                        <img class="icon" src={{ player.imageURL }} />
                        {% include "player_element.html" %}
                        {% if player.isSupporter %}
                            <img src="{% static 'Check.png' %}" height="15px" width="15px" />
                        {% endif %}
                    </a>
                    {% include "badge_element.html" with badges=player.badges.all badge_width=35 %}
                </td>
                <td>
                    {% if player.twitch != '' %}
                        <a href="https://twitch.tv/{{ player.twitch }}" target="blank">
                            <img width="30px" height="30px" src={% static 'twitch.png' %} />
                        </a>
                    {% endif %}
                    {% if player.twitter != '' %}
                        <a href="https://twitter.com/{{ player.twitter }}" target="blank">
                            <img width="30px" height="30px" src={% static 'twitter.png' %} />
                        </a>
                    {% endif %}
                    {% if player.booth != '' %}
                        <a href="https://booth.pm/ja/items/{{ player.booth }}" target="blank">
                            <img width="30px" height="30px" src={% static 'booth.png' %} />
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if player.hmd %}
                    <img width="30px" height="30px" src="{% static 'hmd/'|add:player.hmd|add:'.png' %}" />
                    {% endif %}
                </td>
                <td>
                    {% if sort == 'borderPP' %}{{ player.borderPP | floatformat:2 | intcomma }}{% endif %}
                    {% if sort == 'yurufuwa' %}{{ player.yurufuwa }}{% endif %}
                    {% if sort == 'techPP' %}{{ player.techPP|floatformat:2 }}{% endif %}
                    {% if sort == 'passPP' %}{{ player.passPP|floatformat:2 }}{% endif %}
                </td>
                <td>{{ player.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        Welcome, {{ active_players|length }} players!
        <a href="{% url 'app:player_matrix' %}">
        <button class="btn">Player Matrix</button>
        </a>
    </p>
{% endblock %}
