{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% load humanize %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if mapper_error %}<h2 style="color:yellow">{{ mapper_error }}</h2>{% endif %}
    <h3>
        {% include "player_element.html" %}
        's Page
        {% include "badge_element.html" with badge_width=50 %}
        {% if player.isSupporter %}<span class="diff" style="font-size:20px">Supporter</span>{% endif %}
    </h3>
    <p>
        <img class="thumb" src={{ player.imageURL }} />
    </p>
    {% if acc > 0 %}
        <div style="width:250px;height:250px;">
            <canvas id="myRadarChart" width="100" height="100"></canvas>
        </div>
        {{ player }} さんは <span style="color:{{ style_color }};font-weight:bold">{{ player_type }}</span> です。
    {% endif %}
    {% if user.player == player %}
        <p>
            <form method="post">
                {% csrf_token %}
                <label>Image :</label>
                <button class="btn" name="icon_scoresaber">ScoreSaber</button>
                <button class="btn" name="icon_discord">Discord</button>
            </form>
        </p>
    {% endif %}
    <p>
        <img src="{% static 'ScoreSaberLogo.png' %}"
             style="filter:invert()"
             height="30px">
        <a href="https://scoresaber.com/u/{{ player.sid }}" target="blank">ScoreSaber Link</a>
        <img src="{% static 'ScoreSaberLogo.png' %}"
             style="filter:invert()"
             height="30px">
    </p>
    <p>
        {% if player.twitch != '' %}
            <a href="https://twitch.tv/{{ player.twitch }}" target="blank">
                <img width="40px"
                     height="40px"
                     src="{% static 'twitch' %}.png"
                     style="filter:invert()">
            </a>
        {% endif %}
        {% if player.twitter != '' %}
            <a href="https://twitter.com/{{ player.twitter }}" target="blank">
                <img width="40px"
                     height="40px"
                     src="{% static 'twitter' %}.png"
                     style="filter:invert()">
            </a>
        {% endif %}
        {% if player.booth != '' %}
            <a href="https://booth.pm/ja/items/{{ player.booth }}" target="blank">
                <img width="40px"
                     height="40px"
                     src="{% static 'booth' %}.png"
                     style="filter:invert()">
            </a>
        {% endif %}
    </p>
    <p>
        PP : {{ player.pp | intcomma }} (有効 PP : {{ player.borderPP | floatformat:2 | intcomma }})
    </p>
    <p>
        HMD : {{ player.hmd }}
        <img width="40px"
             height="40px"
             src="{% static player.hmd %}.png"
             style="filter:invert()">
    </p>
    {% if user.player == player %}
        <div class="info-submit">
            <h4>ユーザー情報</h4>
            <p>
                ScoreSaber : https://scoresaber.com/u/{{ player.sid }}
            </p>
            <p>
                Message : {{ player.message }}
            </p>
            {% if player.twitch != '' %}
                <p>
                    Twitch : https:/twitch.tv/{{ player.twitch }}
                </p>
            {% endif %}
            {% if player.twitter != '' %}
                <p>
                    Twitter : https:/twitter.com/{{ player.twitter }}
                </p>
            {% endif %}
            {% if player.booth != '' %}
                <p>
                    Booth : https://booth.pm/ja/items/{{ player.booth }}
                </p>
            {% endif %}
            <h4>情報の変更</h4>
            <form method="post">
                {% csrf_token %}
                {% if user.player.isSupporter %}
                    <p>
                        UserColor:
                        <input type="color" name="color" value="{{ player.userColor }}" />
                        BGColor:
                        <input type="color" name="bg" value="{{ player.bgColor }}" />
                        Shadow:
                        <input type="checkbox"
                               name="shadow"
                               style="transform:scale(2.5);margin-left:10px"
                               {% if user.player.isShadow %}checked{% endif %}/>
                    </p>
                {% endif %}
                <p>
                    <label>Message :</label>
                    <input type="text" size="100" name="message" value={{ player.message }}>
                </p>
                <p>
                    <label>Twitch : https://twitch.tv/</label>
                    <input type="text" size="40" name="twitch" value={{ player.twitch }}>
                </p>
                <p>
                    <label>Twitter : https://twitter.com/</label>
                    <input type="text" size="40" name="twitter" value={{ player.twitter }}>
                </p>
                <p>
                    <label>Booth : https://booth.pm/ja/items/</label>
                    <input type="text" size="40" name="booth" value={{ player.booth }}>
                </p>
                <button class="btn" type="submit">変更</button>
            </form>
        </div>
    {% endif %}
    {% if user.player.isActivated %}
        <h4>ライバル関係</h4>
        {% if user.player != player %}
            {% if user.player.rival == player %}
                <p>
                    あなたは {{ player }} さんをライバルに設定しています。→<a href="{% url 'app:rivalpage' %}"><span class="dl_link">二人のお部屋</span></a>
                </p>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn" name="rival" value="{{ player.sid }}">ライバル認定</button>
                </form>
            {% endif %}
        {% else %}
            <p>
                {% if player.rival != None %}
                    あなたは {{ player.rival }} さんをライバルに設定しています。→<a href="{% url 'app:rivalpage' %}"><span class="dl_link">二人のお部屋</span></a>
                {% else %}
                    ライバルに設定した人は誰もいないようです。
                {% endif %}
            </p>
            <p>
                {{ eyebeam }} 人から視線を感じる……。
            </p>
        {% endif %}
    {% endif %}
    <h4>Top 10 Scores</h4>
    <table class="table table-striped table-borderless">
        <thead>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Diff</th>
            <th>Accuracy</th>
            <th>PP</th>
            <th>
                Miss
            </th>
            <th>
                有効PP
            </th>
        </thead>
        {% for t in top10 %}
            <tr>
                <td>
                    <img class="mid-thumb" src="{{ t.song.imageURL }}"/>
                </td>
                <td>
                    <span>{{ t.song.title|truncatechars:50 }}</span>
                </td>
                <td>
                    {{ t.song.author }}
                </td>
                <td>
                    <span class="diff" style="color:{{ t.song.color }}">{{ t.song.diff }}</span>
                </td>
                <td>
                    {{ t.acc|floatformat:2 }}
                </td>
                <td>
                    {{ t.rawPP|floatformat:2 }}
                </td>
                <td>
                    {% if t.miss == 0 %}
                        <span class="diff" style="color:white">FC</span>
                    {% else %}
                        {{ t.miss }}
                    {% endif %}
                </td>
                <td>
                    {% if 2 <= forloop.counter and forloop.counter < 5 %}{{ t.rawPP | floatformat:2 }}{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h4>
        マッパー情報
    </h4>
    <p>
        {% if player.mapper == 0 %}
            登録なし
        {% else %}
            マッパー名 : {{ player.mapper_name }}
        {% endif %}
    </p>
    {% if user.player == player %}
        <div class="info-submit">
            <h4>
                マッパー情報の登録
            </h4>
            <form method="post">
                {% csrf_token %}
                <p>
                    <label>
                        https://beatsaver.com/profile/
                    </label>
                    {% if player.mapper == 0 %}
                        <input type="text" size="50" name="mapper" value=''>
                    {% else %}
                        <input type="text" size="50" name="mapper" value={{ player.mapper }}>
                    {% endif %}
                </p>
                <button class="btn" type="submit">
                    登録/変更
                </button>
            </form>
        </div>
        <p>
            マッパー情報を登録すると、
            <ul>
                <li>
                    一週間ごとの新着譜面（JP Weekly）
                </li>
                <li>
                    二週間ごとの新着譜面（JP Biweekly）
                </li>
                <li>
                    月ごとの定期リーグ
                </li>
            </ul>
            に自動登録されます。
        </p>
        <p>
            なりすまし厳禁！
        </p>
    {% endif %}
    <script>
        var ctx = document.getElementById("myRadarChart");
        var myRadarChart = new Chart(ctx, {
        //グラフの種類
        type: 'radar',
        //データの設定
        data: {
            labels: ['Acc' + {{ acc|floatformat:1 }}, 'Pass' + {{ pass|floatformat:1 }}, 'Tech' + {{ tech|floatformat:1 }}],
            datasets: [{
            label: 'BeatLeader PP Ratio in JP',
            //グラフのデータ
            data: [{{acc}}, {{pass}}, {{tech}}],
            {% comment %} backgroundColor : 'rgba(255,128,0,.5)' {% endcomment %}
            backgroundColor : '{{ style_color }}',
            }],
        },
        //オプションの設定
        options: {
            plugins: {
                legend: {
                    position: 'top',
                },
            },
            scales: {
                r: {
                    //グラフの最小値・最大値
                    min: 0,
                    max: 100,
                    //背景色
                    backgroundColor: 'rgba(0,0,0,0)',
                    //アングルライン
                    angleLines: {
                        color: 'orange',
                    },
                    //各項目のラベル
                    pointLabels: {
                        color: 'white',
                    },
                    ticks : {
                        display : false,
                    },
                    startAngle: 60,
                },
            },
        },
        });
    </script>
{% endblock content %}
