{% extends "base.html" %}
{% block content %}
<h2>JBSLとは？</h2>
<div style="padding:20px">
<p>Japan Beat Saber League（JBSL）は、日本のプレイヤー同士でビートセイバーの総合的な実力を競い合う大会です</p>
<li>ScoreSaberの国籍が日本の方のみ参加可能です。</li>
<li>ScoreSaberのTopから上位3つのPPを取得してJ1～J3までリーグの区分けを行います。</li>
<li>各リーグで予選を行い上位８名が本戦出場となります。</li>
<li>本戦はTwitchで全試合配信されます。</li>
<li>J1リーグ本戦はダブルエリミネーションによる勝ち抜き制</li>
<li>J2, J3リーグ本戦はシングルエリミネーションによる勝ち抜き制</li>
</div>
<h2>日程（予定）</h2>
<div style="padding:20px">
<p>次の大会は<span style="font-weight:bold">第2回 JBSL</span>になります。</p>
<li>J1 予選 11/6～13 本戦 11/21,28</li>
<li>J2 予選 10/30～11/6 本戦 11/14</li>
<li>J3 予選 10/30～11/6 本戦 11/13</li>
</div>
<p></p>
{% endblock %}